body {
    background-image: linear-gradient(from top, gray,black); 
    background-color: grey;
}

/* move background in future back into html as img and custom style it */
.custom_hero {
    background: transparent url('../images/Hero_image.png') no-repeat center center /cover ;
}

.custom_hero img {
    /* max-height: 50em; */
}

.custom_hero .lead {
    /* color: red; */
    font-size: 5.5em !important;
}
